<div class="container text-center">
  {{#link-to 'words.show' wordId}}
  <div class="well">
    <div class="english-meaning">
      {{meaning.text}}
    </div>
  </div>
  {{/link-to}}
</div>

<div class="container text-center">
  {{link-to 'New Word!' 'words.random' class="btn btn-success btn-lg"}}
</div>
