/* ======= Base ======= */
body {
  font-family: 'Lato', arial, sans-serif;
  color: #444444;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #17baef;
}
a {
  color: white;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #0e98c5;
}

.text-highlight {
  color: #074f66;
}
.offset-header {
  padding-top: 90px;
}
pre code {
  font-size: 16px;
}

/* ======= flashcard ==== */
.flashcard {
  background-color: #fafafa;
  border-radius: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
  min-height: 50%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  text-decoration: none;
}

.flashcard .part-of-speech {
  font-size: 1.5em;
}

.flashcard .text-hindi {
  font-size: 8em;
}

.flashcard .text-romanized {
  font-size: 3em;
  font-style: italic;
}

.flashcard .english-meaning {
  font-size: 8em;
}

.flashcard:hover {
  background: #17baef;
  color: white;
}

/* ====== Input Form ==== */
.word-form {
  background-color: #fafafa;
  border-radius: 100px;
  margin-top: 200px;
  min-height: 50%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  text-decoration: none;
}

.navbar-custom {
  background-color:#17baef;
}

a.navbar-custom {
  color: green;
}
