/* ======= Base ======= */
a {
  color: white;
}
a:hover {
  text-decoration: none;
}

.text-highlight {
  color: #074f66;
}

.offset-header {
  padding-top: 90px;
}

/* ======= flashcard ==== */
/*.flashcard {
  background-color: #fafafa;
  border-radius: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
  min-height: 50%;
  min-height: 50vh;
  max-width: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  text-decoration: none;
}*/

.part-of-speech {
  font-size: 1.5em;
}

.text-hindi {
  font-size: 8em;
}

.text-romanized {
  font-size: 3em;
  font-style: italic;
}

.english-meaning {
  font-size: 8em;
}

.well {
  margin-top: 100px;
  color: black;
}

.well:hover {
  background: #17baef;
  color: white;
}

/* ====== Input Form ==== */
/*.word-form {
  background-color: #fafafa;
  border-radius: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
  min-height: 50%;
  min-height: 50vh;
  max-width: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  text-decoration: none;
}*/

/*.word-form:hover {
  background: #17baef;
  color: black;
}
*/
/* ========= Navbar ===== */
.navbar-custom {
  background-color:#17baef;
}

.navbar-brand {
  font-size: 3em;
}

