<header id="header" class="header">
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        {{link-to "स्मरण शक्ति" "words.random" class="navbar-brand"}}
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {{link-to "Add Card" "words.random" class="navbar-brand"}}
        </ul>
      </div>
    </div>
  </nav>
</header>

{{liquid-outlet}}

