<div class="container text-center">
  <div class="flashcard">
    <h1>{{text_hindi}}</h1>
    <h4>{{text_romanized}}</h4>
    <h6>{{category.part_of_speech}}</h6>
    <h4>{{meaning.text}}</h4>
    <div class="btns">
      <a class="btn btn-cta-primary" href="#" target="_blank">Flip!</a>
    </div>
  </div>
</div><!--//container-->
