<div class="container text-center">
  <div class="flashcard">
    <div class="part-of-speech">
      {{category.part_of_speech}}
    </div>
    <div class="text-hindi">
      {{text_hindi}}
    </div>
    <div class="text-romanized">
      {{text_romanized}}
    </div>

    {{#link-to 'meanings.show' meaning.id}}
        <a class="btn">Flip!</a>
    {{/link-to}}
  </div>
</div>
