<div class="container text-center">
  <h2 class="title">dev<span class="highlight">Aid</span></h2>
  <p class="intro">
    <h1>{{text_hindi}}</h1>
    <p>{{text_romanized}}</p>
    <p>{{category.part_of_speech}}</p>

    {{meaning.text}}
  </p>
  <div class="btns">
    <a class="btn btn-cta-primary" href="#" target="_blank">Flip!</a>
  </div>
</div><!--//container-->
