<div class="container text-center">
  <div class="flashcard">
    <h1>{{text_hindi}}</h1>
    <h4>{{text_romanized}}</h4>
    <h6>{{category.part_of_speech}}</h6>


    {{#link-to 'meanings.show' meaning.id}}
      <div class="btns">
        <a class="btn btn-cta-primary">Flip!</a>
      </div>
    {{/link-to}}
  </div>
</div>
